.server-error-container{
    height: 100%;
    display: flex;
    flex-direction: column;

align-items: center;
    justify-content: center;
}

.server-error-heading{
    font-size: 48px;
    font-weight: bold;
    color: #08c12a;
    margin-bottom: 10px;
}

.server-error-message{
    font-size: 18px;
    color: #333;
}